USE [master]
GO
/****** Object:  Database [ERecete]    Script Date: 05/27/2017 10:12:07 ******/
CREATE DATABASE [ERecete] ON  PRIMARY 
( NAME = N'ERecete', FILENAME = N'C:\Users\22556282\Desktop\Workspace\Java.FX.Demo\DBPath\ERecete.mdf' , SIZE = 43008KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ERecete_log', FILENAME = N'C:\Users\22556282\Desktop\Workspace\Java.FX.Demo\DBPath\ERecete_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERecete].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERecete]
GO

/****** Object:  Table [dbo].[ReceteIlac]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceteIlac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceteId] [int] NULL,
	[IlacId] [int] NULL,
	[TaniId] [int] NULL,
	[Doz] [int] NULL,
	[Periyot] [int] NULL,
	[Birim] [nvarchar](50) NULL,
 CONSTRAINT [PK_ReceteIlac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recete]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recete](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tarihi] [date] NULL,
	[HastaId] [int] NULL,
	[Verildi] [bit] NULL,
 CONSTRAINT [PK_Recete] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL,
	[Doktor] [bit] NULL,
	[Eczaci] [bit] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ilac]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barkodu] [nvarchar](max) NULL,
	[FirmaAdi] [nvarchar](max) NULL,
	[Adi] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ilac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICD10]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICD10](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](max) NULL,
	[Kodu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ICD10] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hasta]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hasta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [varchar](50) NULL,
	[Adi] [nvarchar](50) NULL,
	[Soyadi] [nvarchar](50) NULL,
	[Notlar] [ntext] NULL,
	[DTarihi] [date] NULL,
 CONSTRAINT [PK_Hasta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doktor]    Script Date: 05/27/2017 10:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doktor](
	[Id] [int] NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Soyadi] [nvarchar](50) NULL,
	[TCNo] [char](11) NULL,
 CONSTRAINT [PK_Doktor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Recete_Tarihi]    Script Date: 05/27/2017 10:12:09 ******/
ALTER TABLE [dbo].[Recete] ADD  CONSTRAINT [DF_Recete_Tarihi]  DEFAULT (getdate()) FOR [Tarihi]
GO
/****** Object:  Default [DF_Recete_Verildi]    Script Date: 05/27/2017 10:12:09 ******/
ALTER TABLE [dbo].[Recete] ADD  CONSTRAINT [DF_Recete_Verildi]  DEFAULT ((0)) FOR [Verildi]
GO
/****** Object:  Default [DF_Kullanici_Doktor]    Script Date: 05/27/2017 10:12:09 ******/
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_Doktor]  DEFAULT ((0)) FOR [Doktor]
GO
/****** Object:  Default [DF_Kullanici_Eczaci]    Script Date: 05/27/2017 10:12:09 ******/
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_Eczaci]  DEFAULT ((0)) FOR [Eczaci]
GO
